<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#" class="navbar-brand">Recipe Book</a>
        </div>
        <diV class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a href="#" (click)="onSelected('Recipes')">Recipes</a>
                </li>
                <li>
                    <a href="#" (click)="onSelected('Shopping-list')">Shopping List</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class=dropdown>
                    <a href="#" class="dropdown-toggle" role="button">Manage
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#">Save data</a>
                        </li>
                        <li>
                            <a href="#">Fetch data</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </diV>

    </div>
</nav>