<div class="row">
  <div class="col-xs-12">
    <h1></h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div appDropDown class="btn-group">
    <button
     type="button"
     class="btn btn-primary dropdown-toggle">
     Manage Recipe <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li><a appMenuHighlighter href="#">To Shopping List</a></li>
      <li><a appMenuHighlighter href="#">Edit Recipe</a></li>
      <li><a appMenuHighlighter href="#">Delete Recipe</a></li>
    </ul>
  </div>
</div>
</div>
<div class="row">
  <div class="col-xs-12">
   <h4>{{recipe.name}}</h4>
   <p>{{recipe.description}}</p>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
      <img [src]="recipe.imagePath" class="img-responsive">
  </div>
</div>