<div class="row">
  <div class="col-md-5">
    <app-recipe-list 
        (recipeSelected)="recipeSelected($event)"
    ></app-recipe-list>
  </div>
  <div class="col-md-7">
    <app-recipe-detail 
        [currentRecipe]="recipe" 
        *ngIf="recipe"
    ></app-recipe-detail>
  </div>
</div>