
<app-header (navigation)="onNavigation($event)"></app-header>

<div class="container">
  
    <div class="row">
        <div class="col-md -12">
           <app-recipes *ngIf="loadedFeature==='Recipes'"></app-recipes>
           <app-shopping-list *ngIf="loadedFeature!=='Recipes'"></app-shopping-list>
        </div>
    </div> 
</div>