<div class="row">
    <div class="col-xs-12">
        <button class="btn btn-success">New Recipe</button>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-xs-12" *ngFor="let recipe of recipes">
        <app-recipe-item [recipeItem]="recipe"  (click)="onRecipeSelect(recipe)"></app-recipe-item>
    </div>
</div>

